# Dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz


# Next.js
.next

# Production
dist


# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

public/models/space_station_scene_hd.glb
